<h1>Webpage analyser application (Code Challange) </h1>

<div class="alert alert-danger" *ngIf="errorProcessingRequest">
        <strong>Server failed to process the reuqest!</strong> {{errorMessage}}
</div>

    <div class="ui-inputgroup">
        <input type="text" pInputText placeholder="Website url" [(ngModel)]="url">
        <span class="ui-inputgroup-addon"><button pButton type="button" label="Analyse" (click)="analyse()"></button></span>
    </div>

<div class="justify-content-center" *ngIf="metaDataAnalyseInProgress">
    <img src="../../content/images/searching.gif" />
</div>


<div *ngIf="webPageDcoumentMetaData">
    <dl class="row-lg jh-entity-details">
        <div class="ui-g-12 ui-md-4">
            <dt><span>Html Version</span></dt>
            <dd>
                <span>{{webPageDcoumentMetaData?.htmlVersion}}</span>

            </dd>
        </div>
        <div class="ui-g-12 ui-md-4">
            <dt><span>Title</span></dt>
            <dd>{{webPageDcoumentMetaData?.title}}</dd>
        </div>
        <div class="ui-g-12 ui-md-4">
            <dt><span>Number Of Internal Links</span></dt>
            <dd>{{webPageDcoumentMetaData?.numberOfInternalLinks}}</dd>
        </div>
        <div class="ui-g-12 ui-md-4">
            <dt><span>Number Of External Links</span></dt>
            <dd>{{webPageDcoumentMetaData?.numberOfExternalLinks}}</dd>
        </div>
        <div class="ui-g-12 ui-md-4">
            <dt><span>Has Login Form</span></dt>
            <dd>
                <jhi-boolean [value]="webPageDcoumentMetaData?.hasLoginForm" textTrue="Yes" textFalse="No">
                </jhi-boolean>
            </dd>
        </div>
        <div class="ui-g-12 ui-md-4">
            <dt><span>Login Form try result with any user/passsword!</span></dt>
            <dd>
                <jhi-boolean [value]="webPageDcoumentMetaData?.loginAttemptSucessFull" textTrue="Yes" textFalse="No">
                </jhi-boolean>
            </dd>
        </div>
    </dl>
</div>
</div>


<p-fieldset legend="Hyperlink health check" [toggleable]="true">
    <div class="justify-content-center" *ngIf="hyperLinkHealthAnalysisInProgress">
        <img src="../../content/images/searching.gif" />
    </div>
    <p-table [value]="hyperLinksHealthStatus" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
                <th>URL</th>
                <th>Https</th>
                <th>HttpStatus</th>
                <th>Redirect</th>
                <th>RedirectURL</th>
                <th>ResourceException</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hyperLinksHealth>
            <tr>
                <td>{{hyperLinksHealth.url}}</td>
                <td>
                    <jhi-boolean [value]="hyperLinksHealth.https" textTrue="Yes" textFalse="No">
                    </jhi-boolean>
                </td>
                <td>{{hyperLinksHealth.httpStatus}}</td>
                <td>
                    <jhi-boolean [value]="hyperLinksHealth.redirect" textTrue="Yes" textFalse="No">
                    </jhi-boolean>
                </td>
                <td>{{hyperLinksHealth.redirectURL}}</td>
                <td>{{hyperLinksHealth.resourceException}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-fieldset>