<div class="row justify-content-center">
    <div class="col-12">

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Webpage URL" [(ngModel)]="url" required>
            <span class="input-group-btn">
                <button type="submit" (click)="analyse()" class="btn btn-primary">
                        <fa-icon [icon]="'search'"></fa-icon>&nbsp;<span>Analyse</span>
                </button>
            </span>
        </div>

        <div class="col-12">
            <div *ngIf="webPageDcoumentMetaData">
                <h2>
                    <span> Anayse Result for </span> [<b>{{url}}</b>]
                </h2>
                <dl class="row-md jh-entity-details">
                    <dt><span>Html Version</span></dt>
                    <dd>
                        <span>{{webPageDcoumentMetaData?.htmlVersion}}</span>

                    </dd>
                    <dt><span>Title</span></dt>
                    <dd>{{webPageDcoumentMetaData?.title}}</dd>
                    <dt><span>Number Of Internal Links</span></dt>
                    <dd>{{webPageDcoumentMetaData?.numberOfInternalLinks}}</dd>
                    <dt><span>Number Of External Links</span></dt>
                    <dd>{{webPageDcoumentMetaData?.numberOfExternalLinks}}</dd>
                    <dt><span>Has Login Form</span></dt>
                    <dd>
                        <jhi-boolean [value]="webPageDcoumentMetaData?.hasLoginForm" textTrue="Yes" textFalse="No">
                        </jhi-boolean>
                    </dd>
                    <dt><span>Login Form try result with any user/passsword!</span></dt>
                    <dd>
                        <jhi-boolean [value]="webPageDcoumentMetaData?.loginAttemptSucessFull" textTrue="Yes" textFalse="No">
                        </jhi-boolean>
                    </dd>

                    <dd>
                        <!--<ul class="list-unstyled">
                            <li *ngFor="let hyperLinksHealth of hyperLinksHealthStatus">
                                <span class="badge badge-info">{{hyperLinksHealth.url}}</span>
                                <span >
                                    <jhi-boolean [value]="hyperLinksHealth?.https" textTrue="Yes" textFalse="No">
                                        </jhi-boolean>
                                </span>
                            </li>
                        </ul>-->
                         <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th><span>URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th><span>Https</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th><span>HttpStatus</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th><span>Redirect</span></th>
                                    <th><span>RedirectURL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th><span>ResourceException</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                </tr>
                                </thead>
                                <tbody *ngIf ="hyperLinksHealthStatus">
                                <tr *ngFor="let hyperLinksHealth of hyperLinksHealthStatus">
                                    <td><a href="{{hyperLinksHealth.url}}">{{hyperLinksHealth.url}}</a></td>
                                    <td>
                                        <jhi-boolean [value]="hyperLinksHealth.https" textTrue="Yes" textFalse="No">
                                        </jhi-boolean>
                                    </td>
                                    <td>{{hyperLinksHealth.httpStatus}}</td>
                                    <td>
                                        <jhi-boolean [value]="hyperLinksHealth.redirect" textTrue="Yes" textFalse="No">
                                        </jhi-boolean>
                                    </td>
                                    <td>{{hyperLinksHealth.redirectURL}}</td>
                                    <td>{{hyperLinksHealth.resourceException}}</td>
                                </tr>
                                </tbody>
                        </table>
                    </dd>
                </dl>

            </button>
            </div>
        </div>
    </div>